.header {
  display: flex;
  justify-content: space-between;
  background-color: #d7d5d5;
  border: 2px solid transparent;
}

.header:hover {
  border: 2px solid grey;
}

.logo {
  height: 100px;
  padding: 5px;
}

.nav-items ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-items ul li {
  padding: 15px;
  list-style-type: none;
  font-size: 20px;
}

.login-logout-btn {
  padding: 5px;
  margin: 0px 5px;
  font-size: 20px;
}
.search-container {
  display: flex;
}

.search {
  margin: 15px;
}

.input-box {
  width: 200px;
  font-size: 15px;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
}
.restaurant-card {
  width: 280px;
  height: 400px;
  background-color: rgb(202, 200, 197);
  border: 2px solid transparent;
  margin: 15px;
  margin-left: 50px;
  text-align: center;
}

.restaurant-card:hover {
  border: 2px solid grey;
}

.restaurant-logo {
  padding: 10px;
  width: 90%;
  height: 50%;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  margin: 5px 0px 5px 0px;
  background-color: #d7d5d5;
  font-size: 15px;
  border: 2px solid transparent;
}

.footer:hover {
  border: 2px solid grey;
}

.top-rated {
  margin: 15px;
}

.top-rated button {
  font-size: 20px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 280px;
  height: 400px;
  margin: 10px;
  background-color: rgb(216, 211, 211);
}
